.def-button {
    font-family: "Stolz regular", monospace;
    font-size: 14px;
    color: #000;
    border: none;
    outline: none;
    height: min-content;
    border-radius: 15px;
    padding: 15px;
}

.default-page {
    display: flex;
    width: 100vw;
    height: 100vh;
    /*background-image: url("../../assets/Group\ 1143.png");*/
    background-image: url("../../assets/lines\ \(3\)\ \(2\).png");
    background-position: center bottom;
    background-size: 120vw;
    flex-direction: column;
    background-color: #121213;
    background-repeat: no-repeat;
}

.head {
    display: flex;
    justify-content: space-between;
    margin-inline: 35px;
    align-items: center;
}

.def-content-info {
    text-align: center;
    width: 55%;
}

.def-content {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.def-content-caption {
    font-size: 50px;
    width: 70%;
    text-align: center;
    margin: 0;
    line-height: 45px;

    
    background: radial-gradient(44.64% 44.64% at 49.97% 90.56%, #FFFFFF 1.44%, #FFFFFF 41.35%, rgba(255, 255, 255, 0.75) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}