
.home {
    background-color: var(--block-color);
    background-color: #1B1C1E;
    padding-inline: 25px;
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
    overflow-y: scroll;
}

.home::-webkit-scrollbar {
  display: none;
}

.home-label {

    padding: 0;
    color: #ffff;
    font-family:  "Stolz regular";
    font-size: 30px;
}

.home-summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.home-summary-block {
    border-radius: 15px;
    /*background: linear-gradient(0deg, rgba(47, 48, 50, 0.25), rgba(47, 48, 50, 0.25)), #202022;*/
    background: #202123;
border-radius: 15px;;
    padding: 20px;
    max-height: 100%;
    /*    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: inset 0px -10px 40px -20px rgba(255, 255, 255, 0.08);*/
}

.modules-block {

}

.home-summary-block-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
}

.home-summary-block-label-text {
    margin: 0;
    padding: 0;
    color: #ffff;
    font-family:  "Stolz regular";
    font-size: 17px;
}

.home-summary-block-label-link {
    color: #ffff;
    font-size: var(--font-size-p);
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.home-summary-block-label-link:hover, .home-summary-block-label-link:focus {
    opacity: 1;
}



.mentor-button {
    width: min-content;
    height: min-content;
    
}

.mintor-link {
  color: #ffff;
}

.mentor-link {
    margin: 0px;
}

.mentorblock {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;;
    padding: 20px;
    background-color: #161616;
    /* Rectangle 556 */


    /*background: linear-gradient(91.15deg, rgba(59, 104, 255, 0.02) 0%, rgba(0, 0, 0, 0.2) 84.97%), #151516;*/



    margin-bottom: 15px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    min-height: 100px;
    align-items: end;
    background-image: url("../../assets/Group\ 1141\ \(1\).png"), url("../../assets/Group\ 1142.png");
    background-repeat: no-repeat;
    background-position: -50px;
}

/*.mentorblock::after {
  z-index: 1;
  content: "a";
  background-image: url("../../assets/Group\ 1141.png");
  background-repeat: no-repeat;
  position: absolute;
  display: flex;
  flex: 1;
  top: 0;
  left: 0;
}*/

/*.mentorblock::after {
    z-index: -1;
    position: absolute;
    width: 60.9px;
    height: 597.09px;
    left: 21.86px;
    top: -337.64px;
    content: "a";
    background: linear-gradient(
  180deg,
  transparent 0%,
  #3B68FF 50%,
  transparent 100%
);
    opacity: 0.8;
    transform: matrix(-0.56, 0.83, -0.75, -0.67, 0, 0);
    filter: blur(20px);
    animation: lightFlow 6s ease-in-out infinite;
}*/

/*.mentorblock::after {
    content: "";
    position: absolute;
    inset: -200px;
    z-index: -1;

    background:
      radial-gradient(40% 20% at 30% 20%, rgba(59,104,255,0.6), transparent 70%),
      radial-gradient(30% 15% at 70% 30%, rgba(255,255,255,0.4), transparent 70%),
      radial-gradient(50% 25% at 50% 80%, rgba(59,104,255,0.5), transparent 70%);

    filter: blur(40px);
    opacity: 0.8;

    animation: lightFlow 10s ease-in-out infinite;
}*/

/*.mentorblock::before {
    z-index: -1;
    position: absolute;
    width: 50.9px;
    height: 597.09px;
    left: 181.86px;
    top: -337.64px;
    content: "a";

    background: linear-gradient(
  180deg,
  transparent 0%,
  #3B68FF 50%,
  transparent 100%
);
    opacity: 0.5;
    transform: matrix(-0.56, 0.83, -0.75, -0.67, 0, 0);
    filter: blur(20px);
    animation: lightFlow 8s ease-in-out infinite;
    animation-delay: -2s;
    background-size: 100% 200%;
animation: shimmer 6s linear infinite;
}*/

@keyframes lightFlow {
  0% {
    transform: matrix(-0.56, 0.83, -0.75, -0.67, 0, 0) rotate(0deg) translateY(0px);
    opacity: 0.4;
  }
  50% {
    transform: matrix(-0.56, 0.83, -0.75, -0.67, 0, 0) rotate(2deg) translateY(80px);
    opacity: 0.8;
  }
  100% {
    transform: matrix(-0.56, 0.83, -0.75, -0.67, 0, 0) rotate(0deg) translateY(0px);
    opacity: 0.4;
  }
}



/*@keyframes lightFlow {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(40px) rotate(3deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}


@keyframes shimmer {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 200%;
  }
}*/


.heatmap {
  display: flex;
  flex-direction: column;
}

.heatmap-itself {
  flex-direction: row;
}

.weak-cases-block {
  background-color: #202123 !important;
  outline: none !important;
  padding: 20px;
  box-shadow: none;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  margin-bottom: 15px;
  overflow: visible;
}

.weak-case-item {
    background: #2F3032 !important;
    box-shadow: none !important;
    border: none;
    padding-block: 7px;
    padding-inline: 14px;
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.7);
    overflow: visible;
    transition: background-color 0.3s ease;
}

.weak-item-text {
    font-family: "Stolz regular", monospace;
    padding: 0;
    font-size: 13px;
    color: #ffff;
    opacity: 1;
}