@font-face {
    font-family: 'Stolz';
    src: url('./assets/stolzl_book.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stolz-light';
    src: url('./assets/stolzl_light.otf');
    font-weight: normal;
    font-style: normal;
}



#root {
  margin: 0 20px 0px 20px;
  text-align: center;
  width: 100%;
  font-family: 'Stolz';
  height: 100%;
}

body {
  
  width: calc(100vw - 0px);
  background-color: #0E0F14;
  overflow: hidden;
  height: 90vh;
}

.body {
  display: flex;
  flex-direction: column;
  margin: 0 50px 0px 115px;
  height: 100%;
  
}

.learning-content {
  display: flex;
  flex-direction: column;
  flex: 0.95;
  justify-content: space-between;
}


.topbar {
  display: flex;
  justify-content: space-between;
  background-color: #121319;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.logout {
  color: #D9E4FB;
  background-color: #1E2130;
  border-radius: 20px;
  font-family: 'Stolz-light';
  font-size: 14px;
}

.leftbar {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  left: 0;
  background-color: #121319;
  height: 100%;
  width: 65px;
}

.img {
  width: 30px;
}

.module_button {
  display: flex;
  flex-direction: column;
  background-color: #1E2130;
  color: #D9E4FB; /*3B68FF*/
  width: 200px;
  margin: 0;
  border-radius: 10px;
  /*border: 1px solid;
  border-color: #D9E4FB;*/
  min-width: 250px;
  text-align: left;
}

.modules {
  display: flex;
  gap: 10px;
  background-color: #12131A;
}

.analitycs {
  background-color: #1E2130;
  font-family: 'Stolz';
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;
  max-height: 300px;
  clip-path: inset(0 round 16px);
}


.module_section {
  background-color: #12131A;
  border-radius: 20px;
  padding: 20px;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.module_section::-webkit-scrollbar {
  display: none;
}

.chartitself {
  background-color: #1E2130;
}

.chart {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #12131A;
  border-radius: 20px;
  padding: 20px;
}

.profile {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #12131A;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 15px;
}

.module_name {
  font-size: 28px;
  color: #D9E4FB;
  margin: 0;
  text-align: left;
}

.module_info {
  font-family: 'Stolz-light';
  font-size: 14px;
  color: #D9E4FB;
  margin-bottom: 10px;
  text-align: left;
  padding-bottom: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.module_infor {
  font-family: 'Stolz-light';
  font-size: 14px;
  color: #D9E4FB;
  margin-top: 2px;
  text-align: left;
  margin-bottom: 20px;
}

.module_text {
  font-family: 'Stolz';
  font-size: 14px;
  color: #D9E4FB;
  text-align: left;
  margin: 0px;
  padding-bottom: 10px;
}

.module_text_light {
  font-family: 'Stolz';
  font-size: 14px;
  color: #D9E4FB;
  text-align: left;
  margin: 0px;

  padding-top: 10px;
  opacity: 0.5;
}

.kaabinet {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  width: 100%;
  height: min-content;
}

.nameandlink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.link {
  color: #D9E4FB;
  text-decoration: underline;
  font-family: 'Stolz-light';
  margin: 0;
  opacity: 0.5;
  font-size: 14px;
}

h3 {
  color: #ffff;
  margin: 0;
}

.step {
  margin-bottom: 10px;
  text-align: left;
}

h1 {
  color: #D9E4FB;
  text-align: left;
  margin-bottom: 0;
}

h2 {
  color: #D9E4FB;
  margin: 0;
}

.task-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr min-content 1fr;
  gap: 15px;
  height: 100%;
}

.next-step {
  grid-column: 1;
  grid-row: 2;
}

.next-step-disabled {
  grid-column: 1;
  grid-row: 2;
  background-color: #1E2130;
  color: #818795;
  border: none;
}

.next-step-disabled:hover {
  border: none;
  cursor: not-allowed;
}

.mentor {
  grid-column: 1;
  grid-row: 3;
  background-color: #121319;
  color: #ffff;
  text-align: left;
  padding: 20px;
  border-radius: 15px;
  height: 100%;
}

.sandbox {
  grid-column: 2;
  grid-row: 3;
  background-color: #121319;
  color: #ffff;
  text-align: left;
  padding: 20px;
  border-radius: 15px;
  height: 100%;
}

.task {
  height: 75vh;
}

.editor {
  border-radius: 15px;
  background-color: #121319;
}

.submit_code {
  background-color: #3B68FF;
  color: #ffff;
  height: min-content;
  grid-column: 2;
  grid-row: 2;
}

.task-condition {
  background-color: #121319;
  color: #ffff;
  text-align: left;
  padding: 20px;
  border-radius: 15px;
  height: 100%;
}