@font-face {
    font-family: "Stolz light";
    src: url(./assets/stolzl_light.otf);
}

@font-face {
    font-family: "Stolz regular";
    src: url(./assets/stolzl_regular.otf);
}

@import './assets/variables.css';

* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE/Edge */
}

*::-webkit-scrollbar {
    display: none; /* Chrome/Safari/Opera */
}

/* Для элементов с overflow: auto/scroll */
.scrollable {
    overflow-y: auto;
    /* Скроллбар скрыт, но прокрутка работает */
}

#root {
    font-family: "Stolz light";
    --backround-color: #121213;
    --text-color: #fff;
    --block-color: #191A1C;/*#1B1B1D;*/
    --block-content-color: #1B1C1E;
    --line-color:rgba(255, 255, 255, 0.1);
    --side-color: rgba(255, 255, 255, 0.5);
    --font-size-p: 11.5px;
    --border-radius: 12px;
    --block-color: #191A1C;
    height: 100vh;
    width: 100vw;
    background-color: #121213;
    
}

.body {
    display: flex;
    overflow: hidden;
    background-color: #121213;
    
}

.history {
    display: flex;
    flex: 1;
    height: 99vh;
}




.recommendation-list {
    overflow-y: scroll;
    height: 50%;
}

.recommendation-list::-webkit-scrollbar {
    display: none;
}


.menu-list {
    border-block-end: 1px solid var(--line-color);
    /*padding-block-end: 20px;*/
    padding-block-end: 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.history-list {
    border: none;
}

.history-label {
    /*margin-bottom: 15px;*/
    color: var(--side-color);
    font-size: var(--font-size-p);
    /*margin-top: 30px;*/
    margin-top: 15px;
}

.item {
    align-items: center;
    color: var(--side-color);
    font-size: var(--font-size-p);
    padding-inline: 11px;
    padding-block: 7px;
    vertical-align: middle;
    display: inline-flex;
    gap: 9px;
    background-color: transparent;
    white-space: nowrap; /* Текст "DevmindAI" всегда в одну строку */
    overflow: hidden;    /* Если не помещается - прячем */
    text-overflow: ellipsis;
}

.item-icon {
    display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  width: 22px;
}

.menu-item {
    background: #191919;
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: inset 0px -10px 40px -20px rgba(255, 255, 255, 0.08);
    border-radius: var(--border-radius);
}

.item-active {
    color: #fff;
}

/*.menu-item-active {
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: inset 0px -10px 40px -20px rgba(255, 255, 255, 0.08);
    border-radius: var(--border-radius);
    background: #272729;
     overflow: hidden;

    background-size: 200% 100%, auto;
    background-repeat: no-repeat;
    color: var(--text-color);
}

.menu-item-active::after {
    content: "";
    display: flex;
    width: 3px;
    height: 4px;
    background: #3B68FF;
    background-blend-mode: normal;
    background-position: -40% 50%, 0 0;
    filter: blur(2px);
    justify-self: end;
}*/

/*.menu-item-active::after {
    content: "";
    position: relative;
    width: 52px;
    height: 221px;
    left: 214px;
    top: -2px;
    overflow: hidden;

    background: #3B68FF;
    opacity: 0.8;
    filter: blur(50px);
    transform: rotate(-90deg);
}*/



.menu-item-input {
    margin-bottom: 15px;
}

.submitcodebutton {
    background-color: #1E1F21 !important;
    color: #fff;
    height: min-content;
        /*background: #3B68FF !important;*/
    /*box-shadow: inset 0px -10px 40px -20px #FFFFFF;*/
    border-radius: 15px;
    color: #fff;
    font-family: "Stolz regular";
    width: 100%;
    font-size: 14px;
    transition: box-shadow 0.3s ease;
    border-radius: 15px;
}

.submitcodebutton svg {
    opacity: 0.5;
}

.submitcodebutton:hover svg {
    opacity: 1;
}

.item-light {
    background: var(--block-content-color) !important;
    /*border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: inset 0px -10px 40px -20px rgba(255, 255, 255, 0.08);*/
    border-radius: var(--border-radius);
    color: var(--text-color);
}

.icon-only {
    gap: 0px;
}

.menu-item-text {
    text-decoration: none;
    
    padding-top: 3px;
}

.recomendation-item {
    position: fixed;
    bottom: 10px;
    right: 20px;
    width: 35px;
    height: 35px;
    /*display: flex;
    border-radius: 50px;
    background: linear-gradient(253.45deg, rgba(59, 104, 255, 0.1) 12.5%, rgba(59, 104, 255, 0.5) 90.78%), #272729 !important;
    border: 1.25px solid rgba(255, 255, 255, 0.08);
    box-shadow: inset 0px -12.5px 50px -25px rgba(255, 255, 255, 0.08);
    border-radius: 62.5px;
    filter: drop-shadow(-10px 4px 20px rgba(22, 22, 22, 0.15));

    color: transparent;
    border: none;*/
}

.recommendation-bubble {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 65px;
    height: 65px;
    border-radius: 50px;
    background: linear-gradient(253.45deg, rgba(59, 104, 255, 0.1) 12.5%, rgba(59, 104, 255, 0.5) 90.78%), #272729 !important;
    border: 1.25px solid rgba(255, 255, 255, 0.08);
    box-shadow: inset 0px -12.5px 50px -25px rgba(255, 255, 255, 0.08);
    border-radius: 62.5px;
    filter: drop-shadow(-10px 4px 20px rgba(22, 22, 22, 0.15));
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ai-face {
  display: flex;
  gap: 6px;
}

.eye {
  width: 10px;
  height: 10px;
  background: #3B68FF;
  border-radius: 50%;
}


.recomendation-item-active {
    display: flex;
    width: 350px;
    position: fixed;
    bottom: 10px;
    right: 20px;
    background-color: #28282A !important;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px !important;
    transition: 1s ease;
}

.recommendation-collapse {
    background-color: transparent;
    outline: none;
    border: none;
    color: #fff;
    opacity: 0.5;
}

.recommendation-collapse:focus, .recommendation-collapse:hover {
    opacity: 1;
    outline: none;
}


.recommendation-highlight {
  animation: aiGlow 3s ease;
}

@keyframes aiGlow {

  0% {
    box-shadow: 0 0 0 rgba(120,120,255,0);
  }

  50% {
    box-shadow: 0 0 20px rgba(59, 104, 255, 0.5);
  }

  100% {
    box-shadow: 0 0 0 rgba(120,120,255,0);
  }

}

.recomentation-tabs {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-block-start: 1px solid var(--line-color);
    padding-top: 15px;
    position: relative;
    bottom: 0;
}

.recomendation-item-active .item-module {
    background-color: #2F3032 !important;
}

.mentor-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    opacity: 0.5;
}

.mentor-tab-active {
    opacity: 1;
}

.free-mode {
    background-color: var(--backround-color);
    /*display: grid;
    /*grid-template-columns: 1.2fr 2.5fr 1fr;
    width: 100vw;
    width: 100%;
    display: flex;*/
    flex: 1;
    display: flex;
    /*height: 100vh;*/
    width: 100%;
    transition: grid-template-columns 0.3s ease;
    margin-left: 75px;

}

.free-mode .free {
    display: flex;
    width: 100%;
    flex: 1;
    height: 100vh;
}

.free-mode .module {
    display: flex;
    /*grid-template-columns:  1fr 0.3fr ;*/
    width: 100%;
    flex: 1;
    height: 100vh;
}

/* Когда сайдбар открыт 
.sidebar-visible {
  grid-template-columns: 1fr 2.5fr 1fr;
}

/* Когда сайдбар скрыт - первая колонка схлопывается, вторая расширяется 
.sidebar-hidden {
  grid-template-columns: 0fr 3.5fr 1fr; /* 1.2 + 2.5 = 3.7 
}*/

/* Контейнер сайдбара 
.sidebar-container {
  overflow: hidden; 
  max-width: 30vw;
  background-color:#161616 ;
  min-width: 100px;
}*/



.editor {
    display: flex;
    flex: 1;
    background: #202123;
    border-radius: 12px;
    flex-direction: column;
    min-width: 0;   /* 🔥 ОБЯЗАТЕЛЬНО */
    max-height: calc(100%); 
    /*border-radius: var(--border-radius);
    padding: 7px;
    height: max-content;*/
    justify-content: space-between;
}

.toggle-button {
    height: min-content;
    color: var(--text-color);
    background-color: transparent;
    padding: 5px;
    opacity: 0.5;
    border: 1px transparent;
    outline: 1px transparent;
}

.toggle-button:hover, .toggle-button:focus {
    opacity: 1;
    border: 1px transparent;
    outline: 1px transparent;
}

.terminal {
    height: 20vh;
    overflow-y: auto;
    padding-inline: 0px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.25s 
ease;
    background-color: #161719;
    box-shadow: none !important;
    color: #fff;
}

.terminal-output {
    font-family: "Stolz light";
    padding-inline: 27px;
}

.terminal-output-text {
    color: #fff;
    opacity: 0.5;
}

.terminal-item {
    width: min-content;
}


input {
  /* Убираем стандартные рамки и тени */
  border: none;
  outline: none; /* Осторожно! Убирает обводку при фокусе, лучше заменить своей */
  background: none;
  
  /* Отключаем стандартный сброс размеров */
  box-sizing: border-box;
  
  /* Убираем стандартный фон в автозаполнении */
  transition: background-color 0.5s ease;
  font-family: "Stolz light";
  color: var(--side-color);
  font-size: var(--font-size-p);
}

input::placeholder {
    font-family: "Stolz light";
  color: var(--side-color);
  font-size: var(--font-size-p);
}

input:focus::placeholder {
    display: none;
}

.item-panel {
    display: flex;
    flex-direction: column;
    width: min-content;
    height: 100%;
    gap: 6px;
}

.mentor-item {
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: var(--font-size-p);
    padding-inline: 11px;
    padding-block: 9px;
    white-space: initial;
    /*overflow: visible;
   white-space: initial;*/
}

.mentor-caption {
    margin: 0;
     border-block-end: 1px solid var(--line-color);
     font-size: 20px;
     padding-bottom: 15px;
}



.recomendation-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    /*min-height: 700px;
    overflow-y: scroll;*/
}

.recomendation-content {
    min-height: 0;
}

.recomendation-item-active .progress-bar-fill {
    background: #1B1C1E !important;
}

.reco-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: fit-content;
}

.reco-content .recommendation-list {
    margin-top: 10px;
    max-height: 400px;
    overflow-y: scroll;
}

.recommendation-list {
min-height: 20px;
}
.module-button {
    background: #3B68FF;
    box-shadow: inset 0px -10px 40px -20px #FFFFFF;
    border-radius: 15px;
    color: #fff;
    font-family: "Stolz regular";
    width: 100%;
    font-size: 14px;
    transition: box-shadow 0.3s ease;
}

.module-button:hover {
    box-shadow: inset 0px -10px 60px -20px #FFFFFF;
}

.progress {
    display: flex;
    padding-top: 15px;
    flex-direction: column;
    padding-bottom: 30px;
}

.progress-bar-container {
  width: 100%;
  background: #1B1C1E;
  border-radius: 6px;
  overflow: hidden;
  /*border: 1px solid var(--line-color);*/
}

.progress-bar-fill {
    background: linear-gradient(90deg, #3B68FF 0%, #6F90FF 100%);;
    /*background-color: #1E1F21;
    width: 100%;*/
  height: 100%;
  transition: width 0.3s ease;
}

.progress-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    color: var(--side-color);
    gap: 5px;
    overflow: hidden;
}

.item-primary svg {
    opacity: 0.5;
}

.item-primary:hover svg {
    opacity: 1;
}

.progress-item-text {
    font-size: var(--font-size-p);
}