@font-face {
    font-family: "Stolz light";
    src: url(./assets/stolzl_light.otf);
}

@font-face {
    font-family: "Stolz regular";
    src: url(./assets/stolzl_regular.otf);
}

@import './assets/variables.css';

#root {
    font-family: "Stolz light";
    --backround-color: #161616;
    --text-color: #fff;
    --block-color: #1B1B1D;
    --line-color:rgba(255, 255, 255, 0.1);
    --side-color: rgba(255, 255, 255, 0.5);
    --font-size-p: 14px;
    --border-radius: 13px;
}

.sidebar {
    padding-inline: 27px;
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sidebar-label {
    display: flex;
    justify-content: space-between;
    border-block-end: 1px solid var(--line-color);
    margin-bottom: 30px;
    align-items: center;
}


.menu-caption {
    color: var(--text-color);
    font-family:  "Stolz regular";
    font-size: 22px;
    
    padding-block: 6px;
    
}

.menu-list {
    border-block-end: 1px solid var(--line-color);
    padding-block-end: 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.history-list {
    border: none;
}

.history-label {
    margin-bottom: 15px;
    color: var(--side-color);
    font-size: var(--font-size-p);
    margin-top: 30px;
}

.item {
    align-items: center;
    color: var(--side-color);
    font-size: var(--font-size-p);
    padding-inline: 11px;
    padding-block: 9px;
    vertical-align: middle;
    display: inline-flex;
    gap: 9px;
    background-color: transparent;
    white-space: nowrap; /* Текст "DevmindAI" всегда в одну строку */
    overflow: hidden;    /* Если не помещается - прячем */
    text-overflow: ellipsis;
}

.item-icon {
    display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  width: 22px;
}

.menu-item {
    background: #191919;
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: inset 0px -10px 40px -20px rgba(255, 255, 255, 0.08);
    border-radius: var(--border-radius);
}

.menu-item-active {
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: inset 0px -10px 40px -20px rgba(255, 255, 255, 0.08);
    border-radius: var(--border-radius);
    background: #272729;
     overflow: hidden;
    background: 
    linear-gradient(90deg, transparent, rgba(59, 104, 255, 0.8) 50%, transparent),
    #272729;
    background-blend-mode: normal;
    background-position: -40% 50%, 0 0; /* позиция для каждого слоя */
    background-size: 200% 100%, auto;
    background-repeat: no-repeat;
    color: var(--text-color);
}

.menu-item-active::after {
    content: "";
    display: flex;
    width: 3px;
    height: 4px;
    background: #3B68FF;
    filter: blur(2px);
    justify-self: end;
}

/*.menu-item-active::after {
    content: "";
    position: relative;
    width: 52px;
    height: 221px;
    left: 214px;
    top: -2px;
    overflow: hidden;

    background: #3B68FF;
    opacity: 0.8;
    filter: blur(50px);
    transform: rotate(-90deg);
}*/



.menu-item-input {
    margin-bottom: 15px;
}

.item-light {
    background: #202022 !important;
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: inset 0px -10px 40px -20px rgba(255, 255, 255, 0.08);
    border-radius: var(--border-radius);
    color: var(--text-color);
}

.icon-only {
    gap: 0px;
}

.menu-item-text {
    text-decoration: none;
    
    padding-top: 3px;
}

.recomendation-item {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 280px;
    height: 300px;
}


.free-mode {
    background-color: var(--backround-color);
    display: grid;
    /*grid-template-columns: 1.2fr 2.5fr 1fr;*/
    width: 100vw;
    height: 100vh;
    transition: grid-template-columns 0.3s ease;
}

/* Когда сайдбар открыт */
.sidebar-visible {
  grid-template-columns: 1fr 2.5fr 1fr;
}

/* Когда сайдбар скрыт - первая колонка схлопывается, вторая расширяется */
.sidebar-hidden {
  grid-template-columns: 0fr 3.5fr 1fr; /* 1.2 + 2.5 = 3.7 */
}

/* Контейнер сайдбара */
.sidebar-container {
  overflow: hidden; /* Важно для анимации схлопывания */
}

.profile-item {
    display: flex;
    flex-direction: row;
    padding-block: 12px;
    align-items: start;
    
}

.profile-item p {
    margin: 0px;
}

.profile-name {
    font-size: 16px;
    padding-block-end: 6px;
    color: var(--text-color);
    
}

.profile-ava {
    background-color: #202022;
    border-radius: 500px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: inset 0px -10px 40px -20px rgba(255, 255, 255, 0.08);
}

.editor {
    background: #202022;
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: inset 0px -10px 40px -20px rgba(255, 255, 255, 0.08);
    border-radius: var(--border-radius);
    height: max-content;
}

.toggle-button {
    height: min-content;
    color: var(--text-color);
    background-color: transparent;
}

.terminal {
    min-height: 25vh;
    overflow-y: auto;
    padding-inline: 0px;
    margin-bottom: 0px;
}

.terminal-item {
    width: min-content;
}


input {
  /* Убираем стандартные рамки и тени */
  border: none;
  outline: none; /* Осторожно! Убирает обводку при фокусе, лучше заменить своей */
  background: none;
  
  /* Отключаем стандартный сброс размеров */
  box-sizing: border-box;
  
  /* Убираем стандартный фон в автозаполнении */
  transition: background-color 0.5s ease;
  font-family: "Stolz light";
  color: var(--side-color);
  font-size: var(--font-size-p);
}

input::placeholder {
    font-family: "Stolz light";
  color: var(--side-color);
  font-size: var(--font-size-p);
}

input:focus::placeholder {
    display: none;
}