@font-face {
    font-family: "Stolz light";
    src: url(./assets/stolzl_light.otf);
}

@font-face {
    font-family: "Stolz regular";
    src: url(./assets/stolzl_regular.otf);
}

@import './assets/variables.css';

#root {
    font-family: "Stolz light";
    --backround-color: #161616;
    --text-color: #fff;
    --block-color: #1B1B1D;
    --line-color:rgba(255, 255, 255, 0.1);
    --side-color: rgba(255, 255, 255, 0.5);
}

.sidebar {
    padding-inline: 25px;
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sidebar-label {
    display: flex;
    justify-content: space-between;
    border-block-end: 1px solid var(--line-color);
    margin-bottom: 30px;
    align-items: center;
}


.menu-caption {
    color: var(--text-color);
    font-family:  "Stolz regular";
    font-size: 24px;
    
    padding-block: 6px;
    
}

.menu-list {
    border-block-end: 1px solid var(--line-color);
    padding-block-end: 20px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.history-list {
    border: none;
}

.item {
    align-items: center;
    color: var(--side-color);
    font-size: 15px;
    padding-inline: 14px;
    padding-block: 12px;
    vertical-align: middle;
    display: inline-flex;
    gap: 9px;
}

.item-icon {
    display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.menu-item {
    background: #191919;
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: inset 0px -10px 40px -20px rgba(255, 255, 255, 0.08);
    border-radius: 15px;
}

.item-light {
    background: #202022;
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: inset 0px -10px 40px -20px rgba(255, 255, 255, 0.08);
    border-radius: 15px;
}



.free-mode {
    background-color: var(--backround-color);
    display: grid;
    /*grid-template-columns: 1.2fr 2.5fr 1fr;*/
    width: 100vw;
    height: 100vh;
    transition: grid-template-columns 0.3s ease;
}

/* Когда сайдбар открыт */
.sidebar-visible {
  grid-template-columns: 1.1fr 2.5fr 1fr;
}

/* Когда сайдбар скрыт - первая колонка схлопывается, вторая расширяется */
.sidebar-hidden {
  grid-template-columns: 0fr 3.6fr 1fr; /* 1.2 + 2.5 = 3.7 */
}

/* Контейнер сайдбара */
.sidebar-container {
  overflow: hidden; /* Важно для анимации схлопывания */
}

.profile-item {
    display: flex;
    flex-direction: column;
    padding-block: 6px;
    align-items: start;
}

.editor {
    background: #202022;
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: inset 0px -10px 40px -20px rgba(255, 255, 255, 0.08);
    border-radius: 15px;
    height: max-content;
}

.toggle-button {
    height: min-content;
    color: var(--text-color);
    background-color: transparent;
}

.terminal {
    min-height: 25vh;
    overflow-y: auto;
}