@import '../../assets/variables.css';

@font-face {
    font-family: "Stolz regular";
    src: url(./assets/stolzl_regular.otf);
}

.section-sandbox {
    background-color: var(--block-color);
    padding-inline: 30px;
}

.section-caption {
    font-family: "Stolz regular", monospace;
    font-size: 44px;
    color: var(--text-color);
}

.section-panel {
    display: grid;
    grid-template-columns: min-content min-content auto auto;
    grid-auto-flow: column;
    gap: 10px;
    margin-bottom: 10px;
}

.insight-panel {
    padding-inline: 27px;
    display: flex;
    flex-direction: column;
}