@import '../../assets/variables.css';

@font-face {
    font-family: "Stolz regular";
    src: url(./assets/stolzl_regular.otf);
}

.section-sandbox {
    background-color: #191A1C;
    /*padding-inline: 25px;*/
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 99vh;
    padding-block: 10px;
}

.section-caption {
    font-family: "Stolz regular", monospace;
    font-size: 22px;
    color: var(--text-color);
    background-color: #121213;
    padding: 10px;
    border-radius: 10px;
}

.section-caption-module {
    font-family: "Stolz regular", monospace;
    font-size: 20px;
    color: var(--text-color);
    margin-top: 10px;
}

.progress {
    display: flex;
    margin-bottom: 10px;
    padding-top: 10px;
    flex-direction: column;
    background-color: #121213;
    border-radius: 10px;
    padding: 10px;
}

.section-panel {
    display:flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
    
}

.section-panel-main {
    background: #1B1C1E;
    display: flex;
    flex: 1;
    /*border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: inset 0px -10px 40px -20px rgba(255, 255, 255, 0.08);*/
    border-radius: var(--border-radius);
}

.section-panel .submitcodebutton {
    background-color: #222325 !important;
    color: #ffff !important;
}

.insight-panel {
    padding-inline: 27px;
    display: flex;
    flex-direction: column;
}

.execution-result {
    max-height: 99vh;
}