.menu-list{
  position: relative;
  z-index: 0;
}

.menu-caption {
    color: var(--text-color);
    font-family:  "Stolz regular";
    font-size: 17px;
    
    padding-block: 6px;
    
}

.menu-highlight{
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 35px;
    z-index: -1;
  /*border: 1px solid rgba(255,255,255,0.08);
  box-shadow: inset 0px -10px 40px -20px rgba(255,255,255,0.08);*/
  border-radius: var(--border-radius);
  background: #202123;

  transition: transform 0.25s cubic-bezier(.4,0,.2,1);
  pointer-events: none;
  overflow: hidden; /* 🔥 ключ */
}

.menu-highlight::after {
  content: "";
  position: absolute;     /* 🔥 ключевой момент */
  top: 5px;
  right: 0;               /* 🔥 прижимаем вправо */
  width: 5px;
  height: 70%;
  background: #3B68FF;
  border-radius: 0 var(--border-radius) var(--border-radius) 0;
  filter: blur(2px); 

}

.history-scroll {
  max-height: 35vh;
  overflow-y: scroll;
}

.history-scroll::-webkit-scrollbar{
  display: none;
}

.sidebar-open {
  width: 19vw;
}

.sidebar-closed {
  width: 35px;
}

.sidebar {
    padding-inline: 20px;
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.25s ease;
    background-color:#161616 ;
    height: calc(100vh - 20px);
    
}

.sidebar-label {
    display: flex;
    justify-content: space-between;
    border-block-end: 1px solid var(--line-color);
    margin-bottom: 10px;
    align-items: center;
}

.profile-item {
    display: flex;
    flex-direction: row;
    padding-block: 8px;
    align-items: start;
    
}

.profile-item p {
    margin: 0px;
}

.profile-name {
    font-size: 14px;
    padding-block-end: 6px;
    color: var(--text-color);
    
}

.profile-ava {
    background-color: #202022;
    border-radius: 500px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow: inset 0px -10px 40px -20px rgba(255, 255, 255, 0.08);
}