.history-wrapper {
    background-color: #161719;
    width: 19vw;
    padding: 20px;
}

.history-item-free {
    background-color: #191A1C;
    transition: background-color 0.3s ease;
    outline: transparent;
    border: transparent;
}

.history-item-free:hover, .history-item-free:focus {
    background-color: #1E1F21;
    outline: transparent;
    border: transparent;
}

.module-type-list {
    
    font-size: 11.5px;
    display: flex;
    list-style-type: none;
    
    padding: 0px;
    margin: 0px;
}

.module-type-list-item-active {
  opacity: 1;
}

.module-type-list-item {
    margin-right: 10px;
    cursor: pointer;
    color: white;
    opacity: 0.5;
}

.code-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-inline: 25px;
    padding-block: 10px;
    background-color: #191A1C;
}

.workspace-tabs {
    width: 100%;
    display: flex;
    height: min-content;
}

.workspace-tab {
  position: relative;
  background-color: #262729; /*#1E1F21;*/
  color: white;
  opacity: 0.5;
  font-size: 11.5px;
  font-family: "Stolz regular";
    height: min-content;
    display: flex;
    flex: 1;
}

.workspace-tab-active {
    opacity: 1;
}

.workspace-tab.has-notification::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 6px;

  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ff4d4f;

  opacity: 0;
  transform: scale(0.5);
  animation: fadeInDot 0.3s ease forwards;
}

@keyframes fadeInDot {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.rewiew {
    display: flex;
    flex: 1;
    background-color: #161719;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
}