.heatmap {
  display: flex;
  gap: 4px;
  /*background-color: #1E1F21 !important;
  border-radius: 15px;
  padding: 7px;*/
}
.heatmap-week {
  display: flex;
  /*flex-direction: column;*/
  gap: 4px;
  flex: 1;
}
.heatmap-day {
  width: 20px;
  height: 20px;
  background-color: #1E1F21; /* синий */
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 4px;
}
.heatmap-day:hover {
  transform: scale(1.2);
}